body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 97vh; */
}
h1{
    font-size: 2.5em;
    text-decoration: underline;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* border: 1px solid; */
    display: flex;
    height: auto;
    /* width: auto; */
    margin-top: 8%;
}
.img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.5%;
    /* border: 1px solid; */
    width: auto;
    object-fit: fill;
    margin-bottom: 5%;
}
.img{
    width: 90%;
    border-radius: 20px;
}
.content{
    border: 1px solid;
    width: 40rem;
    /* padding: 1em; */
    display: flex;
    flex-direction: column;
}
.tabs{
    /* border: 1px solid; */
    height: 2.5em;
    background-color: rgb(26, 212, 212);
    display: flex;
}
.tabs div{
    /* border: 1px solid; */
    width: 50%;
    display: flex;
    /* background-color: antiquewhite; */
}
.btn{
    /* border: 1px solid; */
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: large;
    background-color: rgb(26, 212, 212);
    /* border-radius: 0px 0px 0px 10px; */
    transition: 0.3s;
}
.info{
    font-size: 1.5em;
    padding: 1em;
    /* margin: 3%; */
    height: auto;
    text-align: justify;
}
.active{
    left: 0;
    transition: 0.3s;
    background-color: antiquewhite;
    border-radius: 10px 10px 0 0;
}
@media only screen and (max-width: 900px) {
    .container{
        flex-direction: column;
    }
}