body{
    background-color: mediumaquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid; */
}
h1{
    color: white;
    font-size: 2.5em;
    text-decoration: underline;
    font-family:cursive;
    /* font-weight: 900; */
    font-style: italic;
}
.buttons{
    border: 1px solid;
    width: 38em;
    height: 2em;
    padding: 1em;
}
.btn{
    cursor: pointer;
    margin: 0 2em;
    height: 2.5em;
    width: 7em;
    border-radius: 20px;
    color: brown;
}
.btn:hover{
    background-color: mediumaquamarine;
}
.menu{
    margin-top: 2em;
    /* border: 1px solid; */
    width: 60em;
    height: 30em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
}
.item{
    margin:0 2em ;
    /* border: 1px solid; */
    /* width: 25em; */
    height: 10em;
    display: flex;
    padding: 0.1em;
    cursor: pointer;
}
.item:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.img{
    width: 12em;
    margin-right: 0.1em;
    height: 10.15em;
}
.info{
    border: 1px solid;
    width: 13em;
    height: 10em;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 213, 213);
}
.title{
    border-bottom: 3px solid black;
    height: 1.5em;
    position: relative;
    bottom: 1em;
    padding-top: 0.2em;
}
.price{
    /* border: 1px solid white; */
    float: right;
    width: 2em;
    text-align: right;
    padding-right: 0.6em;
}
.content{
    /* border: 1px solid rgb(174, 24, 24); */
    border-bottom: 1px solid;
    position: relative;
    height: 11em;
    bottom: 1.6em;
    font-size: large;
    padding: 0.564em;
    text-align: justify;
}